/beamerstatale.nav
/beamerstatale.snm
/beamerstatale.synctex.gz
/beamerstatale.vrb
/main.bib
/beamerstatale.aux
/beamerstatale.fdb_latexmk
/beamerstatale.fls
/beamerstatale.log
/beamerstatale.out
/beamerstatale.toc